@model SV20T1020508.DomainModels.ProductPhoto;

@{

}

<div class="box box-primary">

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/SavePhoto" method="post" enctype="multipart/form-data">

            <input type="hidden" name="PhotoID" value="@Model.PhotoID" />

            <input type="hidden" name="ProductID" value="@Model.ProductID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Chọn file ảnh:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" name="Photo" value="@Model.Photo" />
                    <img id="Photo" src="~/images/products/@Model.Photo" class="img img-bordered" style="width:200px; height: 200px; object-fit: cover" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="Description" value="@Model.Description"></textarea>
                    @Html.ValidationMessage("Description", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                <div class="col-sm-10">
                    @if (Model.PhotoID > 0)
                    {
                        <input type="number" min="1" class="form-control" name="DisplayOrder" value="@Model.DisplayOrder" />
                    }
                    else
                    {
                        <input type="number" min="1" class="form-control" name="DisplayOrder" />
                    }
                    @Html.ValidationMessage("DisplayOrder", new { @style = "color: #f00" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="@nameof(Model.IsHidden)" value="true" @(Model.IsHidden ? "checked" : "") />
                            Không hiển thị ảnh
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.ValidationMessage("Error", new { @style = "color: #f00" })
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-default" href="~/Product/Edit/@Model.ProductID">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>

</div>